@import url('../fonts/Droid-Sans/stylesheet.css');
@import url('../fonts/Droid-Sans-Mono/stylesheet.css');
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  font-family: "Droid Sans";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Droid Sans";
}
em {
  font-style: italic;
}
code {
  font-family: "Droid Sans Mono";
}
input,
textarea {
  font-family: "Droid Sans";
}
#header {
  margin-top: 20px;
}
#main .actions .nav-list li.divider {
  border-top: 1px solid #ddd;
}
#main .actions .nav-list li i {
  margin-right: 5px;
}
#main .explanation {
  color: #797979;
  padding-bottom: 20px;
}
#main .page-title {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
#main #epub-container {
  min-height: 100px;
}
#main iframe#page-epub {
  border: 0;
  width: 100%;
  min-height: 800px;
  border-bottom: 1px solid #e5e5e5;
}
#main .markItUp {
  width: auto;
}
#main .markItUp .markItUpContainer {
  position: relative;
}
#main .markItUp .markItUpPreviewFrame {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 340px;
  /*
      position: absolute;
      bottom: -5px;
*/
}
#main .markItUp .markItUpHeader {
  *zoom: 1;
  border: 1px solid #ccc;
  padding: 5px 0;
  background: #f0eeee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#main .markItUp .markItUpHeader:before,
#main .markItUp .markItUpHeader:after {
  display: table;
  content: "";
  line-height: 0;
}
#main .markItUp .markItUpHeader:after {
  clear: both;
}
#main .markItUp .markItUpHeader ul {
  margin: 0 5px;
}
#main .markItUp .markItUpHeader ul li {
  margin-right: 5px;
}
#main .markItUp .markItUpHeader ul li.markItUpSeparator {
  visibility: hidden;
  width: 15px;
}
#main .markItUp .markItUpHeader ul li a {
  background-position: center;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border: 1px solid #cccbcb;
  border-radius: 4px;
}
#main .markItUp textarea {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
}
#main .markdown-editor,
#main .html-editor {
  width: 100%;
  height: 300px;
}
#main .markdown-editor {
  font-family: "Droid Sans Mono";
}
#main .html-editor {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 6px 12px;
  min-height: 300px;
  height: auto;
}
#main .html-editor:after {
  color: #797979;
  padding: 6px 12px;
}
#main .html-editor .has-footnote {
  background: #c2def6;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#main .html-editor .has-footnote:hover {
  color: #2a6496;
}
#main .html-editor figcaption {
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
}
#main .html-editor img {
  max-width: 100%;
}
#main .html-editor .is-highlight,
#main .html-editor .is-person {
  background: #f5efc2;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#main .html-editor .is-person {
  background: #d7f5c2;
}
#main .html-editor .inline-footnote-content {
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: inline-block !important;
}
#main .html-editor,
#main .plain-text-editor {
  margin-top: 10px;
}
#main .toggle-editor {
  margin-left: 8px;
}
#main #rich-text-preprocessor {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  overflow: auto;
}
#main #rich-text-processed {
  display: none;
}
#main .table tbody tr td {
  vertical-align: top;
}
#main .table tbody tr th {
  white-space: nowrap;
}
#main .table tbody tr th .asc .caret {
  border-bottom: 4px solid #000;
  border-top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
#main .table tbody tr td.title {
  width: 30%;
}
#main .table tbody tr td.description {
  font-size: 12px;
}
#main .table .actions {
  min-width: 210px;
}
#main .tab-content {
  padding-top: 20px;
  position: relative;
}
#main .tab-content .tab-settings {
  color: #555;
  top: 0;
  right: 0;
  position: absolute;
  text-decoration: none;
}
#main .nav-tabs li.alert {
  padding: 10px 15px;
}
#main .modal .modal-body .btn-group {
  margin-bottom: 25px;
}
#main .modal .modal-body ul {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
}
#main .modal .modal-body ul li {
  margin-bottom: 10px;
}
#main #section-tabs {
  font-size: 12px;
}
#main #section-tabs li a {
  padding: 8px 10px;
}
#main #cover-image {
  margin-top: 5px;
  margin-bottom: 20px;
}
#main #cover-image #cover-image-upload,
#main #cover-image #cover-image-current {
  border: 1px solid #cccbcb;
  border-radius: 4px;
  width: 140px;
  height: 195px;
  display: block;
}
#main #cover-image #cover-image-current {
  background-repeat: no-repeat;
  background-size: contain;
  background: #f0eeee;
}
#main #cover-image #cover-image-upload {
  background: #f0eeee;
  text-decoration: none;
  color: #797979;
  text-align: center;
  line-height: 195px;
  font-size: 30px;
}
#main #cover-image #cover-image-upload:hover,
#main #cover-image #cover-image-upload:active {
  background: #e9e8e8;
}
#main #edition-style-select-group {
  *zoom: 1;
}
#main #edition-style-select-group:before,
#main #edition-style-select-group:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #edition-style-select-group:after {
  clear: both;
}
#main #edition-style-select-group #edition-style-select {
  float: left;
  width: 78%;
}
#main #edition-style-select-group .edition-style-uploader {
  width: 20%;
  float: right;
}
#main ul#section-sorting {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
#main ul#section-sorting li {
  *zoom: 1;
  list-style-type: none;
  border: 1px solid #cccbcb;
  border-top: 0;
  background: #fff;
  min-height: 32px;
  cursor: move;
}
#main ul#section-sorting li:before,
#main ul#section-sorting li:after {
  display: table;
  content: "";
  line-height: 0;
}
#main ul#section-sorting li:after {
  clear: both;
}
#main ul#section-sorting li:first-child {
  border-top: 1px solid #cccbcb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#main ul#section-sorting li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#main ul#section-sorting li.ui-sortable-helper {
  border-radius: 0;
}
#main ul#section-sorting li .section-prefix {
  display: block;
  float: left;
  background: #f0eeee;
  border-right: 1px solid #cccbcb;
  width: 32px;
  height: 32px;
  color: #797979;
  text-align: center;
  line-height: 32px;
}
#main ul#section-sorting li .section-label,
#main ul#section-sorting li .section-delete {
  padding: 5px;
  display: inline-block;
}
#main ul#section-sorting li .section-label {
  padding-left: 10px;
}
#main ul#section-sorting li .section-delete {
  float: right;
  padding-right: 10px;
  text-decoration: none;
  border-left: 1px solid #cccbcb;
  height: 32px;
}
#main ul#section-sorting li .section-delete .fa {
  color: #f16128;
}
#main ul#section-sorting .ui-state-highlight {
  background: #f0eeee;
}
#main #modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}
#main #file-library {
  display: none;
  width: 100%;
  min-height: 200px;
  position: relative;
}
#main #file-library .thumbnail-container {
  margin-bottom: 25px;
}
#main #file-library .spinner {
  width: 1px !important;
  height: 1px !important;
  margin-top: -6px;
  top: 50%;
  margin-left: -6px;
  left: 50%;
  position: absolute !important;
}
#main #file-library .row {
  position: relative;
}
#main #file-library .file-caption-form {
  width: 400px;
  position: absolute;
  z-index: 2;
  background: #fff;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  left: 50%;
  margin-left: -200px;
}
#main #file-library a.thumbnail {
  position: relative;
  text-decoration: none;
}
#main #file-library a.thumbnail span.selected-file,
#main #file-library a.thumbnail span.delete-file,
#main #file-library a.thumbnail span.file-caption {
  position: absolute;
}
#main #file-library a.thumbnail span.selected-file {
  left: 5px;
  display: none;
}
#main #file-library a.thumbnail span.file-caption {
  bottom: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  background: #31708f;
  border-radius: 7px;
}
#main #file-library a.thumbnail span.file-caption .file-caption-inner {
  position: relative;
  text-align: center;
}
#main #file-library a.thumbnail span.file-caption .fa {
  width: 9px;
  height: 9px;
  font-size: 9px;
  line-height: 14px;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #fff;
}
#main #file-library a.thumbnail span.delete-file {
  right: 5px;
}
#main #file-library a.thumbnail.selected {
  border-color: #428bca;
}
#main #file-library a.thumbnail.selected span.fa-check-circle {
  display: block;
}
#main #file-uploader li.file {
  *zoom: 1;
  padding-right: 30px;
  position: relative;
}
#main #file-uploader li.file:before,
#main #file-uploader li.file:after {
  display: table;
  content: "";
  line-height: 0;
}
#main #file-uploader li.file:after {
  clear: both;
}
#main #file-uploader li.file span.file-name {
  display: inline-block;
  width: 48%;
  float: left;
}
#main #file-uploader li.file span.remove-file,
#main #file-uploader li.file span.file-success {
  position: absolute;
  right: 5px;
  margin-top: -10px;
  top: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  opacity: 0.5;
}
#main #file-uploader li.file span.remove-file:hover,
#main #file-uploader li.file span.file-success:hover,
#main #file-uploader li.file span.remove-file:active,
#main #file-uploader li.file span.file-success:active {
  opacity: 1;
}
#main #file-uploader li.file span.file-success {
  opacity: 1;
  cursor: default;
}
#main #file-uploader li.file span.progress-container {
  float: right;
  width: 50%;
  padding-top: 7px;
}
#main #file-uploader li.file span.progress-container span.progress {
  height: 5px;
  margin-bottom: 0px;
  display: block;
}
#main #file-uploader li.file span.progress-container span.progress span {
  display: block;
}
#main .preview-area blockquote small {
  display: inline;
}
#main .preview-area blockquote small::before {
  content: '';
}
.edition-tile-sort {
  *zoom: 1;
  margin-bottom: 30px;
}
.edition-tile-sort:before,
.edition-tile-sort:after {
  display: table;
  content: "";
  line-height: 0;
}
.edition-tile-sort:after {
  clear: both;
}
.edition-tile-sort .fa {
  margin-right: 5px;
}
.edition-tile-sort .caret {
  visibility: hidden;
  margin-left: 10px;
}
.edition-tile-sort .asc .caret {
  border-bottom: 4px solid #000;
  border-top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  visibility: visible;
}
.edition-tile {
  position: relative;
  margin-bottom: 20px;
}
.edition-tile .edition-tile-cover {
  border: 1px solid #cccbcb;
  background: #f0eeee;
  border-radius: 4px;
  width: 140px;
  height: 195px;
  display: block;
  position: absolute;
  background-size: cover;
}
.edition-tile .edition-tile-body {
  font-size: 12px;
  padding-left: 150px;
  padding-bottom: 50px;
  min-height: 195px;
}
.edition-tile .edition-tile-body h2 {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.edition-tile .edition-tile-buttons {
  /*
    position: absolute;
    bottom: 0;
*/
}
#form-validation-error {
  display: none;
}
#footer {
  font-family: "Droid Sans Mono";
  font-size: 10px;
  padding: 10px 0;
  text-align: right;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}
/* !Medium Editor */
.medium-editor-toolbar li button,
.medium-editor-toolbar-form-anchor input {
  min-width: 50px;
  height: 50px;
}
.medium-toolbar-arrow-under:after {
  top: 50px;
}
.medium-editor-toolbar-form-note {
  background: #428bca;
  color: #fff;
  border-radius: 4px;
  position: relative;
  padding-right: 35px;
}
.medium-editor-toolbar-form-note-input {
  font-size: 14px;
  height: 50px;
  width: 350px;
  padding-left: 8px;
  background: #428bca;
  color: #fff;
  border: 0;
  outline: none;
  overflow: hidden;
}
.medium-editor-toolbar-form-note a.toolbar-close {
  top: -5px;
}
.medium-editor-toolbar-form-note a.toolbar-done {
  color: #fff;
  display: inline-block;
  margin: 0 8px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
}
.medium-editor-anchor-preview i,
.medium-editor-anchor-preview b {
  text-decoration: none;
  display: inline;
  margin: auto;
  font-style: italic;
}
.medium-editor-anchor-preview b {
  font-style: normal;
  font-weight: bold;
}
.medium-editor-toolbar-form-note input::-webkit-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.medium-editor-toolbar-form-note input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.medium-editor-toolbar-form-note input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.medium-editor-toolbar-form-note input:-ms-input-placeholder {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.medium-editor-toolbar-form-note a {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
}
.medium-editor-toolbar-footnote-preview-inner {
  padding: 10px;
  display: block;
}
#epub-generator-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
}
#epub-generator-overlay #epub-generator-overlay {
  position: relative;
}
#epub-generator-overlay #epub-generator-overlay-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 100px;
  height: 100px;
}
#epub-generator-overlay #epub-generator-overlay-icon span.fa-cog {
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}
