/*
  Title: Default
*/

@import url("Droid-Sans/stylesheet.css");

body {
  font-family: "Droid Sans", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
  line-height: 1em;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;  
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

blockquote {
  font-style: italic;
}